name: Deploy to DigitalOcean

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Execute remote commands via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
                host: ${{ secrets.SSH_HOST }}
                username: ${{ secrets.SSH_USERNAME }}
                key: ${{ secrets.SSH_KEY }}
                passphrase: ${{ secrets.SSH_PASSPHRASE }} 
                script: |
                  cd ~/Architecture/Minecraft-server
                  git fetch origin main
                  git reset --hard origin/main
                  chmod +x gradlew
                  ./gradlew shadowJar
                  sudo systemctl restart minecraft
